body > nav > div > div.navbar-header > a {
	font-family: 'Gilda Display', serif;
	font-size: 200%;
}

td {
	font-family: 'Gilda Display', serif;
	font-size: 125%
}

input {
	font-family: 'Gilda Display', serif;
}

h2, h3 {
	font-family: 'Gilda Display', serif;
	font-size: 150%;
}

#tags {
	font-family: 'Gilda Display', serif;
}

.ui-menu-item {
	font-family: 'Gilda Display', serif;
}

/* Center an image. Don't think this exists in bootstrap. */
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Error message. */
.error {
    color: red;
}