<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="VIEWport" content="wih4h=device-wih4h, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>InvestorScope – Glossary</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="static/css/invest.css" type='text/css' rel='stylesheet'>

</head>

<body>

  {% include 'navbar.html' %}

  <!-- Begin page content -->
  <div class="container" style="margin-top: 80px">

    <div class="jumbotron header" style="padding: 10px; border-radius: 0;">
      <h3>Investing Glossary</h3>
    </div>

    <div class="col-md-6" style="padding-left: 5">

      <h4>Alphabetical</h4>
      <p> The tickers as they appear in the NYSE listings.</p>
      
      <h4>Made in America</h4><p> The proportion of corporate operations and manufacturing taking place in the United States of America.</p>
      <h4>P/E Ratio</h4><p> Price/Earnings ratio: the cumulative price of all outstanding shares divided by the revenue of the company. Serves as an indicator of how much "earning power" is in each share. Comparing P/E ratios of companies in the same industry can be helpful in determining which companies are overvalued or undervalued, and thus, which companies to buy or sell.</p>
      <h4>Price</h4><p> The latest market price of the issued stock in USD.</p>
      <h4>Social Good</h4><p> A metric seeking to quantify the company's overall impact on society. Factors considered include new job creation, employee benefits and healthcare, non-environmental charitable giving (scholarships, medical causes etc.), and the impact of products being developed and sold.</p>
      <h4>Sustainability</h4><p> An indicator of how environmentally friendly a company is. Determined by current compliance with EPA standards, historical EPA violations, charitable giving, business model, and commitment to green technology and facilities.</p>
      <h4>Recommendations</h4><p> A list of recommended stocks based upon your answers to the initial questions. Based upon risk preference, interest and personality factors.</p>
      <h4>Risk</h4><p> A mathematical metric that indicates how much a company's price is likely to change in either direction. Riskier stocks are more likely to make more money, but also more likely to lose more money. The technical term for risk is "beta."</p>
    
    </div>

  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </body></html>
