<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="VIEWport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>InvestorScope – Home</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="static/css/invest.css" type='text/css' rel='stylesheet'>

<!-- JQuery Autocomplete Stuff -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
// Fill in autocomplete tickers.
$(function() {
  var availableTags = [];

  console.log("About to do it!")

  {% for ticker in tickers %}
  availableTags.push( {{ ticker|tojson|safe }} );
  {% endfor %}

  console.log(availableTags)

  $( "#tags" ).autocomplete({
    source: availableTags
  });
});
</script>

<script>
  // Event handler to refresh stock tickers on select.
  function selectAction(selectedValue) {
    var res = selectedValue.split("-");
    var metric = res[0];
    var order = res[1];
    window.location.replace("home.html?metric=" + metric + "&order=" + order);
  }

  // Set up select dropdown:
  // - Set field value based on current metric and sort order.
  // - Add an extra option for recommended stocks, if the user has done Q & A.
  function setupSelect() {
    var selectElement = document.getElementById("sort-select");

    // recommended option
    if ("{{ has_recs }}" == "True") {
      var option = document.createElement("option");
      option.text = "Recommendations";
      option.value = "recs-lowhigh";
      selectElement.add(option);
    }

    // pre-selection... makes sure to do it after recs option is added!
    var order_str = "lowhigh";
    if ("{{ order }}" == "False") {
      order_str = "highlow";
    }
    selectElement.value = "{{ metric }}" + "-" + order_str;
  }
</script>

</head>



<body onload="setupSelect()">

  {% include 'navbar.html' %}

  <!-- Begin page content -->
  <div class="container" style="margin-top: 60px">

    <form class="navbar-form navbar-left" role="search" action="submit_search" method="post">
      <div class="form-group ui-widget">
        <input type="text" class="form-control" style="font-size: 150%" id="tags" placeholder="Search by name or ticker." name="search_string">
      </div>
    </form>


    {% if error: %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      {{error|safe}}
    </div>
    {% endif %}

    <div class="page-header" style="text-align: center; margin-top: 0">
      <h1>
	<!-- When adding more options to this form, always follow the format:
	     
	     <metric>-<order>
		 
	     with metric in {"alpha", "price", "pe", "risk"} (TODO more...)
	     and order in {"lowhigh", "highlow"}. -->
        <select id="sort-select" class="form-control"
		onchange="selectAction(this.value)">
          <option value="alpha-lowhigh">Alphabetical (A-Z)</option>
          <option value="alpha-highlow">Alphabetical (Z-A)</option>
          <option value="price-lowhigh">Price (Low-High)</option>
          <option value="price-highlow">Price (High-Low)</option>
          <option value="pe-lowhigh">P/E (Low-High)</option>
          <option value="pe-highlow">P/E (High-Low)</option>
          <option value="risk-lowhigh">Risk (Low-High)</option>
          <option value="risk-highlow">Risk (High-Low)</option>
	  <option value="sustainability-lowhigh">Sustainability (Low-High)</option>
	  <option value="sustainability-highlow">Sustainability (High-Low)</option>
	  <option value="socialgood-lowhigh">Social Good (Low-High)</option>
	  <option value="socialgood-highlow">Social Good (High-Low)</option>
	  <option value="american-lowhigh">Made in America (Low-High)</option>
	  <option value="american-highlow">Made in America (High-Low)</option>
        </select>
      </h1>
    </div>
    <table class="table">
      <tbody>
	{% for stock in stocks %}
	<tr style="font-size: 75%">
	  <td style="max-width: 90px">{{stock.ticker}}: {{stock.name | truncate(15, True)}}</td>
	  <td>${{stock.cur_price}}</td>
	  <td><button onclick="location.href='stock.html?ticker={{stock.ticker}}'" type="button" class="btn btn-success" style="display: block;">VIEW <span class="glyphicon glyphicon-arrow-right"></span></button></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>

  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </body></html>
