<!-- The Stock page, to show a stock with price, chart, quants of interest -->

<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>InvestorScope – Stock</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
<link href="static/css/invest.css" type='text/css' rel='stylesheet'>

</head>

<body>

  <script src="static/scripts/Chart.min.js" type="text/javascript"></script>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand" href="home.html">InvestorScope</a>
      </div>
    </div>
  </nav>

  <!-- TODO improvements from heuristic eval:
       1. Add more information like P/E ratio, market cap
          (DONE?)
       2. Indicate if market is open or closed (sigh...)
       3. Show the company stock name and ticker (DONE) -->

  <!-- TODO: lots of work to make it interactive...
       1. Look up the stock!
       2. Get hardcoded price, delta, other data from
          common source
       3. Add a 'why' section, but only if coming from
          recommendation engine?
       -->
  
  <!-- Begin page content -->
  <div class="container" style="margin-top: 60px;">
    <div class="row text-center">
      <div class="col-md-12"><h2>{{ name }} ({{ ticker }})</h2></div>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <td>Price:</td>
          <td><span style="padding-right: 12px;">${{ latest_price }}</span><span style="color: green;">+$2.14</span></td>
        </tr>
        <tr>
          <td>P/E Ratio:</td>
          <td>17.67</td>
        </tr>
        <tr>
          <td>Market Cap:</td>
          <td>$677B</td>
        </tr>
        <tr>
          <td>Dividend Yield:</td>
          <td>1.6%</td>
        </tr>
      </tbody>
    </table>

    <!-- The stock chart itself: this will be complex. -->
    <div>
      <!-- TODO: self-adjusting width, height -->
      <canvas id="myChart" class="centered"></canvas>

      <script type="text/javascript">
	var data = {
	labels: ["11-14", "11-15", "11-16", "11-17", "11-18", "11-19", "11-20"],
	datasets: [
        {
        label: "My First dataset",
        fillColor: "rgba(89,171,227,0.15)",
        strokeColor: "#59ABE3",
        pointColor: "#fff",
        pointStrokeColor: "#2C3E50",
        pointHighlightFill: "#F1A9A0",
        pointHighlightStroke: "#F64747",
        data: [65, 59, 80, 81, 56, 55, 40]
        }
	]
	};
	// Get the context of the canvas element we want to select
	var ctx = document.getElementById("myChart").getContext("2d");
	var myLineChart = new Chart(ctx).Line(data, {});
      </script>

    </div>

  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body></html>
